@font-face {
    font-family: myNavFont;
    src: url(Fonts/sansation.bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: myNavFont;
    src: url(Fonts/sansation.regular.ttf);
}
*{
    font-family: MyNavFont;
    background-color: #6A5ACD;
}
h1 {
    text-align:center;
}

h2 {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

li a:hover {
    display: block;
    background-color: mediumpurple;
}
.active{
    background-color: #b3b3ff;
}

.HomeMsg {
    /*float: left;*/
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: large;
    font-weight: bold;
    color: white;
}

.AboutUsMsg {
    float: left;
    width: 50%;
    font-size: large;
    color: white;
    line-height: 2rem;
    word-spacing: 1px;
}

.ContactUsMsg{
    color: white;
    text-align: center;
}

input {
    background-color: white;
    margin: 3px;
    padding: 12px 20px;
    border: 2px solid mediumpurple;
    border-radius: 6px;
}

textarea{
    background-color: white;
    margin: 3px;
    padding: 12px 20px;
    border: 2px solid mediumpurple;
    border-radius: 6px;
    resize: none;
}


/* FOOOTER STYLES */


