@font-face {
    font-family: myNavFont;
    src: url(../Fonts/sansation.bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: myNavFont;
    src: url(../Fonts/sansation.regular.ttf);
}

*{
    font-family: MyNavFont;
}
body {
    background-color: #6A5ACD;
}
h1 {
    text-align:center;
}

h2 {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #534293;
    display: inline-block;
    list-style-type: none;
}
li {
    float: left;
    /*margin-right: 5px;
    margin-left: 5px;*/
}


li a {
    display: block;
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
    padding: 14px 19px;
    text-decoration: none;
    font-size: large;
}

li a:hover {
    display: block;
    background-color: mediumpurple;
}

li.ex1 {

    padding-right: 5%;
}
div.ex2 {
    padding-bottom: 10px;
    padding-top: 10px;
    /*border: 1px solid red;*/
    color: white;
}
li.ex3 {
    width: 30%;
    padding-right: 3%;

}
li.ex4 {

    padding-right: 5%;
    width: 30%;
}
li.ex5 {
    width: 30%;
    padding-right: 3%;
    font-size: x-large;
    text-decoration: underline;
    font-weight: bold;

}
li.ex6 {
    padding-right: 5%;
    width: 30%;
    font-size: x-large;
    text-decoration: underline;
    font-weight: bold;

}
li.ex7 {
    padding-right: 5%;
    font-size: x-large;
    text-decoration: underline;
    font-weight: bold;

}
div.ex8 {
    padding-bottom: 10px;
    padding-top: 20px;
    /*border: 1px solid red;*/
    color: white;
}


.fa {
    background: transparent;
}

.active{
    background-color: #b3b3ff;
}

.HomeMsg {
    float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: large;
    font-weight: bold;
    color: white;
}

#home-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


.AboutUsMsg {
    margin-right: -80px;
    margin-left: 80px;
    float: left;
    width: 50%;
    font-size: large;
    color: white;
    line-height: 2rem;
    word-spacing: 1px;
}

.linksearch {
    text-align: center;
}

.ContactUsMsg{
    color: white;
    text-align: center;
}

/*input {
    background-color: white;
    margin: 3px;
    padding: 12px 20px;
    border: 2px solid mediumpurple;
    border-radius: 6px;
}*/

input {
    background-color: white;
    margin: 3px;
    padding: 12px 20px;
    border: 2px solid mediumpurple;
    border-radius: 6px;
}

/*textarea{
    background-color: white;
    margin: 3px;
    padding: 12px 20px;
    border: 2px solid mediumpurple;
    border-radius: 6px;
    resize: none;
}*/

textarea{
    background-color: white;
    margin: 3px;
    padding: 12px 20px;
    border: 2px solid mediumpurple;
    border-radius: 6px;
    resize: none;
}

.searchterm {
    width: 50%;
    border: 3px solid #b3b3ff;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: white;
    color: white;
    text-decoration-color: #6A5ACD;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myNavFont;
    font-weight: bold;
}

::selection{
    color: #fff;
    background: #6F36FF;
}
.wrapper{
    position: absolute;
    top: 85%;
    left: 80%;
    max-width: 350px;
    width: 25%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.06);
}
.wrapper header{
    font-size: 14px;
    font-weight: 500;
    padding: 17px 30px;
    border-bottom: 1px solid #D0B49F;
    color: rgba(255,255,255, 1);
    text-align:center;
}
.wrapper header.active{
    cursor: move;
    user-select: none;
}
.wrapper .content{
    display: flex;
    padding: 0px 0px 10px 0px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.content .title{
    margin: 10px 0;
    font-size: 29px;
    font-weight: 500;
    color: rgba(255,255,255, 1);
}
.content p{
    font-size: 16px;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.menuB{

}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #dcd0ff;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #45a049;
}

span.price {
    float: right;
    color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}
/*
.playStop {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0 0 0 0.15), 0 2px 10px rgba(0 0 0 0.1);
    background: linear-gradient(-20deg, #ddd6f3 0%, #CF9FFF 100%, #CF9FFF 100%);
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.box{
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 20px 0px 20px 40px;
    border-color: transparent transparent transparent #6A5ACD;
    transition: all 100ms ease-in-out;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pause{
    border-style: double;
    border-width:0px 0px 0px 30px;
}
/* FOOOTER STYLES
*/
.container2 {
    background-color: #dcd0ff;
    padding-bottom: 1%;
    padding-top: 1%;
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 3px;
    position: absolute;
    left: 45%;

}
.button {
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 5px;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #7F8C8D;
    border: none;
    border-radius: 4px;
}
#play-button-outer{
    background-color: #2ECC71;
}
#play-button {
    margin: 0 auto;
    top: 25%;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1em 0 1em 2em;
    border-color: transparent transparent transparent #ffffff;
    opacity: .75;
}
#play-button-outer:hover {
    background-color: #27AE60;
}
.play-button-outer:hover .play-button {
    opacity: 1;
}

#pause-button-outer {
    background-color: #E67E22;
}
#pause-button {
    width: 2em;
    height: 2em;
    border-style: double;
    border-width: 0em 1em 0em 1em;
    border-width: 0em 0em 0em 2em;
    border-color: #ffffff;
    opacity: 0.75;
}
#pause-button-outer:hover {
    background-color: #D35400;
}
.pause-button-outer:hover .pause-button {
    opacity: 1;
}