@font-face {
    font-family: myNavFont;
    src: url(./Fonts/sansation.bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: myNavFont;
    src: url(./Fonts/sansation.regular.ttf);
}
*{
    font-family: MyNavFont;
    background-color: #6A5ACD;
}
h1 {
    text-align:center;
}

h2 {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

li a:hover {
    display: block;
    background-color: mediumpurple;
}

li.ex1 {

    padding-right: 5%;
}
div.ex2 {
    padding-bottom: 10px;
    padding-top: 10px;
    /*border: 1px solid red;*/
    color: white;
}
li.ex3 {
    width: 30%;
    padding-right: 3%;

}
li.ex4 {

    padding-right: 5%;
    width: 30%;
}
li.ex5 {
    width: 30%;
    padding-right: 3%;
    font-size: x-large;
    text-decoration: underline;
    font-weight: bold;

}
li.ex6 {
    padding-right: 5%;
    width: 30%;
    font-size: x-large;
    text-decoration: underline;
    font-weight: bold;

}
li.ex7 {
    padding-right: 5%;
    font-size: x-large;
    text-decoration: underline;
    font-weight: bold;

}
div.ex8 {
    padding-bottom: 10px;
    padding-top: 20px;
    /*border: 1px solid red;*/
    color: white;
}


.fa {
    background: transparent;
}

.active{
    background-color: #b3b3ff;
}

.HomeMsg {
    float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: large;
    font-weight: bold;
    color: white;
}

#home-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


.AboutUsMsg {
    float: left;
    width: 50%;
    font-size: large;
    color: white;
    line-height: 2rem;
    word-spacing: 1px;
}

.linksearch {
    text-align: center;
}

.ContactUsMsg{
    color: white;
    text-align: center;
}

input {
    background-color: white;
    margin: 3px;
    padding: 12px 20px;
    border: 2px solid mediumpurple;
    border-radius: 6px;
}

textarea{
    background-color: white;
    margin: 3px;
    padding: 12px 20px;
    border: 2px solid mediumpurple;
    border-radius: 6px;
    resize: none;
}

.searchterm {
    width: 50%;
    border: 3px solid #b3b3ff;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: white;
    color: white;
    text-decoration-color: #6A5ACD;
}


/* FOOOTER STYLES */


