@font-face {
    font-family: myNavFont;
    src: url(./Fonts/sansation.bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: myNavFont;
    src: url(./Fonts/sansation.regular.ttf);
}
*{
    font-family: MyNavFont;
    background-color: #6A5ACD;
}
h1 {
    text-align:center;
}

h2 {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

li a:hover {
    display: block;
    background-color: mediumpurple;
}
.active{
    background-color: #b3b3ff;
}

.HomeMsg {
    float: left;
    width: 100%;
    padding: 15px;
    font-size: large;
    font-weight: bold;
    color: white;
}

.AboutUsMsg {
    float: left;
    width: 50%;
    font-size: large;
    color: white;
    line-height: 2rem;
    word-spacing: 1px;
}


/*Used to center the image*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

/*form style*/


div.form-container {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

form input[type=url] {
    width: 50%;
    padding-top: 10px;
    padding-bottom:10px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
}

form input[type=submit] {
    background-color: #b3b3ff;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
}

form input[type=reset] {
    background-color: #b3b3ff;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
}