@font-face {
    font-family: myNavFont;
    src: url(../Fonts/sansation.bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: myNavFont;
    src: url(../Fonts/sansation.regular.ttf);
}
*{
    font-family: MyNavFont;
    background-color: #6A5ACD;
}
h1 {
    text-align:center;
}

h2 {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

li a:hover {
    display: block;
    background-color: mediumpurple;
}

.fa {
    background: transparent;
}

.active{
    background-color: #b3b3ff;
}

.HomeMsg {
    float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: large;
    font-weight: bold;
    color: white;
}

#home-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


.AboutUsMsg {
    float: left;
    width: 50%;
    font-size: large;
    color: white;
    line-height: 2rem;
    word-spacing: 1px;
}

.linksearch {
    text-align: center;
}

.searchterm {
    width: 50%;
    border: 3px solid #b3b3ff;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: white;
    color: white;
    text-decoration-color: #6A5ACD;
}
