<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AutoSign</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<nav>
    <ul>
        <li><a th:href="@{/}"> Home</a></li>
        <li><a th:href="@{/history}"> History </a></li>
        <li><a th:href="@{/contactus}"> Contact Us</a></li>
        <li><a th:href="@{/aboutus}"class="active"> About us</a></li>
    </ul>
</nav>

<p class="AboutUsMsg">
    Hello! We are a group of Imperial College Bioengineering students
    that created SignTube to make sign language more accessible and easy
    to learn. With SignTube, you can get all your favorite Youtube videos
    translated to sign language! All you have to do is copy paste the Youtube
    URL and click on SignTube!
    <br><br><br>
    We are constantly working on improving our platform to make it easier to use
    and more flexible for our beloved users!
    <br><br><br>
    A special thanks to the PaceCenter for giving us all the guidance and insight
    to make this project achievable!
</p>

<div class="AboutUsMsg">
    <h2> Our team </h2>
</div>

</body>
</html>
