
<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AutoSign</title>
    <link href="../static/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<nav>
    <ul>
        <li><a th:href="@{/}"> Home</a></li>
        <li><a th:href="@{/history}"> History </a></li>
        <li><a th:href="@{/contactus}" class="active"> Contact Us</a></li>
        <li><a th:href="@{/aboutus}"> About us</a></li>
    </ul>
</nav>

<h1 class="ContactUsMsg">
    Submit your enquiry here:
</h1>

<form action="https://getform.io/f/5d3c95e5-fd61-43ff-9892-dea07004aaa2" method="post" class="ContactUsMsg" enctype="multipart/form-data">
    <input type="text" placeholder="First Name" name="fname" size="50" required> <br>
    <input type="text" placeholder="Last Name" name="lname" size="50" required> <br>
    <input type="email" placeholder="Email" name="email" size="50"  required> <br>
    <input type="text" placeholder="Subject" name="subject" size="50" required> <br>
    <textarea placeholder="Message" name="message" rows="10" cols="49" required></textarea> <br><br>
    <input type="submit" name="submit" value="Submit">

</form>



</body>
</html>
