<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AutoSign</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<nav>
    <ul>
        <li><a th:href="@{/home}"> Home</a></li>
        <li><a th:href="@{/history}"class="active"> History </a></li>
        <li><a th:href="@{/contactus}"> Contact Us</a></li>
        <li><a th:href="@{/aboutus}"> About us</a></li>
    </ul>
</nav>

<form>

</form>

</body>
</html>
