<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>AutoSign</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="header">
    <ul>
        <li><a th:href="@{#}">Home</a></li>
        <li><a th:href="@{#}">History</a></li>
        <li><a th:href="@{#}">Contacts</a></li>
        <li><a th:href="@{#}">About us</a></li>
    </ul>
</div>
    <h1>Hello World</h1>


<!-------------------------->


<h1>Form</h1>
<form action="#" th:action="@{/}" th:object="${home}" method="post">
    <p>URL: <input type="url" th:field="*{URL}" /></p>
    <p>(For example: https://www.youtube.com)</p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>



</body>
</html>